<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .p {
        margin: 10px;
    }
</style>

<div class="container">
    <img src="https://i.imgur.com/oUAKMC5.png"/>
    <p>Oi, {{name}}</p>
    <p>Você solicitou alteração de senha.</p>
    <p>
        Para realizar a troca, clique no link <a href={{link}}>{{link}}</a>
    </p>

    <p>Caso não tenha sido você quem solicitou esta alteração, basta ignorar este e-mail.</p>

    <p>Obrigado!</p>

    <h3>Equipe | <strong>Rentx</strong></h3>
</div>